<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    
    <div class="container-fluid">
	    <div class="row">
		    <div class="col-sm-4">
		    <form action="{:U()}" method="post" class="form-horizontal">
		        <div class="form-group">
		        	
		            <label class="control-label">门店</label>
		            <div class="select">
		                <select class="selectpicker" data-live-search="true" name="district_id">
		                	<option value="0">大区</option>
		                	<notempty name="_district">
								<volist name="_district" id="vo" >
									<option value="{$vo.id}">{$vo.name}</option>
								</volist>
							</notempty>
		                </select>
		                <select class="selectpicker" data-live-search="true" name="city_id">
		                	<option value="0">城市</option>
		                </select>
		                <select class="selectpicker" data-live-search="true" name="store_id">
		                	<option value="0">门店</option>
		                </select>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">车位号</label>
		            <input type="text" class="form-control" name="name" value="">
		        </div>
		        
		        <div class="form-group">
		            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
		            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		        </div>
		    </form>
    		</div>
    	</div>
    </div>
</block>

<block name="script">
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/bootstrap-select/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="__STATIC__/js/district.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('StoreStation/index')}');
        
        $(function(){
        	$('.selectpicker').selectpicker();
    	});
        
        
    </script>
</block>
