<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">门店</label>
            <div class="controls selectList">
                <select class="select" name="district_id">
                	<option value="0">大区</option>
                	<notempty name="_district">
						<volist name="_district" id="vo" >
							<if condition="$vo.id eq $_district_id">
								<option value="{$vo.id}" selected>{$vo.name}</option>
							<else/>
								<option value="{$vo.id}">{$vo.name}</option>
							</if>
						</volist>
					</notempty>
                </select>
                <select class="select" name="city_id">
                	<notempty name="_city">
						<volist name="_city" id="vo" >
							<option value="{$vo.id}" {$vo.id eq $_city_id ? selected : ''}>{$vo.name}</option>
						</volist>
					</notempty>
                </select>
                <select class="select" name="store_id">
                	<notempty name="_store">
						<volist name="_store" id="vo" >
							<option value="{$vo.id}" {$vo.id eq $_store_id ? selected : ''}>{$vo.name}</option>
						</volist>
					</notempty>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">车位号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>
        <div class="form-item">
        	<input type="hidden" name="id" value="{$data.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/js/district.js"></script>
<script type="text/javascript" charset="utf-8">
	Think.setValue('type',{$type|default=1});
    //导航高亮
    highlight_subnav('{:U('StoreStation/index')}');
    
</script>
</block>
