<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>添加项目</h2>
    </div>
    <form action="{:U('OrderItem/add')}" method="post" class="form-horizontal">

        <div class="form-item">
        	<input type="hidden"  name="car_order_id" value="{$data.id}">
            <label class="item-label">类别</label>
            <div class="controls">
                <select class="select" name="item_type">
                	<notempty name="_item_type">
						<volist name="_item_type" id="vo" >
							<if condition="$vo.id eq $_condition['item_type']">
								<option value="{$vo.id}" selected>{$vo.name}</option>
							<else/>
								<option value="{$vo.id}">{$vo.name}</option>
							</if>
						</volist>
					</notempty>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">项目描述</label>
            <div class="controls">
                <textarea class="textarea input-large" name="item_name"></textarea>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">零件费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="item_price" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">数量</label>
            <div class="controls">
                <input type="text" class="text input-large" name="item_num" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">工时费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="hour_price" value="">
            </div>
        </div>
        <div class="form-item">
        	<input type="hidden"  />
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Order/index')}');
    </script>
</block>
