<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
        	
            <label class="item-label">门店</label>
            <div class="controls selectList">
                <select class="select" name="district_id">
                	<option value="0">大区</option>
                	<notempty name="_district">
						<volist name="_district" id="vo" >
							<option value="{$vo.id}">{$vo.name}</option>
						</volist>
					</notempty>
                </select>
                <select class="select" name="city_id">
                	<option value="0">城市</option>
                </select>
                <select class="select" name="store_id">
                	<option value="0">门店</option>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">摄像头名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="">
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label">类型</label>
            <div class="controls">
                <input name="type" type="radio"  value="1" />入口
                <input name="type" type="radio"  value="2" />出口
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/js/district.js"></script>
    <script type="text/javascript">
    	Think.setValue('type',{$data.type|default=1});
        //导航高亮
        highlight_subnav('{:U('Camera/index')}');
        
        
    </script>
</block>
