<extend name="Public/base"/>

<block name="body">
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <div class="container-fluid">
	    <div class="row">
		    <div class="col-sm-4">
		    <form action="{:U()}" method="post" class="form-horizontal">
		        <div class="form-group">
		            <label class="control-label">门店</label>
		            <div class="select">
		                <select class="selectpicker" data-live-search="true" name="district_id">
		                	<option value="0">大区</option>
		                	<notempty name="_district">
								<volist name="_district" id="vo" >
									<if condition="$vo.id eq $_district_id">
										<option value="{$vo.id}" selected>{$vo.name}</option>
									<else/>
										<option value="{$vo.id}">{$vo.name}</option>
									</if>
								</volist>
							</notempty>
		                </select>
		                <select class="selectpicker" data-live-search="true" name="city_id">
		                	<notempty name="_city">
								<volist name="_city" id="vo" >
									<option value="{$vo.id}" {$vo.id eq $_city_id ? selected : ''}>{$vo.name}</option>
								</volist>
							</notempty>
		                </select>
		                <select class="selectpicker" data-live-search="true" name="store_id">
		                	<notempty name="_store">
								<volist name="_store" id="vo" >
									<option value="{$vo.id}" {$vo.id eq $_store_id ? selected : ''}>{$vo.name}</option>
								</volist>
							</notempty>
		                </select>
		            </div>
		        </div>
		        <div class="form-group">
		            <label class="control-label">摄像头名称</label>
		            <input type="text" class="form-control" name="name" value="{$data.name}">
		        </div>
		        <div class="form-group">
		            <label class="control-label">类型</label>
		            <div class="radio">
		                <label><input type="radio" name="type" value="1">入口</label>
		                <label><input type="radio" name="type" value="2">出口</label>
		            </div>
		            
		        </div>
		        <div class="form-group">
		        	<input type="hidden" name="id" value="{$data.id|default=''}">
		            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
		            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		        </div>
		    </form>
    		</div>
    	</div>
    </div>
</block>

<block name="script">
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/district.js"></script>
<script type="text/javascript" charset="utf-8">
 	Think.setValue('type',{$data.type|default=1});
    //导航高亮
    highlight_subnav('{:U('Camera/index')}');
    
    $(function(){
    	$('.selectpicker').selectpicker();
	});
    
</script>
</block>
