<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改门店信息</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">门店名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">门店地址</label>
            <div class="controls">
                <select class="select" name="district_id">
                	<notempty name="_district">
						<volist name="_district" id="vo" >
							<option value="{$vo.id}" {$vo.id eq $data.district_id ? selected : ''}>{$vo.name}</option>
						</volist>
					</notempty>
                </select>
                <select class="select" name="city_id">
                	<notempty name="_city">
						<volist name="_city" id="vo" >
							<option value="{$vo.id}" {$vo.id eq $data.city_id ? selected : ''}>{$vo.name}</option>
						</volist>
					</notempty>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系人</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contact" value="{$data.contact}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系人电话</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contact_number" value="{$data.contact_number}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">备注</label>
            <div class="controls">
                <textarea class="textarea input-large" name="remark">{$data.remark}</textarea>
            </div>
        </div>
        <div class="form-item">
        	<input type="hidden" name="id" value="{$data.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" charset="utf-8">
	//Think.setValue('type',{$type|default=1});
    //导航高亮
    highlight_subnav('{:U('Store/index')}');
    $(function(){
    	$("select[name=district_id]").change(function(){
    		var district_id = $(this).val();
    		var url = Think.U('Admin/District/list_by_type','type=2&pid='+district_id);

    		$.get(url, function(response){
    			var data = response.info;
    			for(var i = 0 ; i < data.length; i++) {
    				
    				$("select[name=city_id]").append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
    			}
    		    
    		 });
    	});
    	
    });
</script>
</block>
