<extend name="Public/base" />

<block name="body">
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!-- 标题栏 

		<div class="tab-wrap">
		<ul class="tab-nav nav">
		<li ><a href="{:U('updatenickname')}">修改昵称</a></li>
		<li class="current"><a href="{:U('updatepassword')}">修改密码</a></li>
		</ul>-->
	<div class="container-fluid">
		<div class="row">
		<div class="col-sm-3">
		<!-- 修改密码表单 -->
		<form action="{:U('User/submitPassword')}" method="post" class="form-horizontal">
			<div class="form-group">
				<label class="control-label">原密码：</label>
				<input type="password" name="old" class="form-control" autocomplete="off" />
			</div>
			<div class="form-group">
				<label class="control-label">新密码：</label>
				<input type="password" name="password" class="form-control" autocomplete="off" />
			</div>
			<div class="form-group">
				<label class="control-label">确认密码：</label>
				<input type="password" name="repassword" class="form-control" autocomplete="off" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 认</button>
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</form>
		</div>
		</div>
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
