<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>开单</h2>
    </div>
    <form action="{:U('Car/add')}" method="post" class="form-column-2">
        <div class="form-item">
            <label class="item-label">门店</label>
            <div class="controls">
            	<div class="text input-large"> 爱一行（中关村店） {$vo.createtime|time_format}</div>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">单号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">工位号</label>
            <div class="controls">
            	<div class="text input-large">
            	<select class="select" name="store_station_id" >
                	<option value="100">001</option>
                </select>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">车牌号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_number" value="{$data.car_number}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">车主姓名</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_owner" value="{$data.car_owner}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">车主电话</label>
            <div class="controls">
                <input type="text" class="text input-large" name="owner_phone" value="{$data.owner_phone}">
            </div>
            
        </div>
        <div class="form-item">
            <label class="item-label">行驶里程</label>
            <div class="controls">
                <input type="text" class="text input-large" name="driving_distance" value="{$data.driving_distance}">
            </div>
            
        </div>
        <div class="form-item">
            <label class="item-label">品牌</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_brand" value="{$data.car_brand}">
            </div>
            
        </div>
        <div class="form-item">
            <label class="item-label">车型(型号？？？)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_model" value="{$data.car_model}">
            </div>
            
        </div>
        <div class="form-item">
            <label class="item-label">颜色</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_color" value="{$data.car_color}">
            </div>
            
        </div>
        <div class="form-item">
            <label class="item-label">发动机号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_engine_num" value="{$data.car_engine_num}">
            </div>
            
        </div>
        <div class="form-item">
            <label class="item-label">VIN</label>
            <div class="controls">
                <input type="text" class="text input-large" name="car_vin" value="{$data.car_vin}">
            </div>
            
        </div>
        <div class="form-item">
            <button class="btn submit-btn"  type="submit" target-form="form-column-2">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    <div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('OrderItem/add',array('id'=>$car_order_id))}">新 增</a>
            <button class="btn ajax-post confirm" url="{:U('CarItem/delete',array('method'=>'deleteStore'))}" target-form="ids">删 除</button>
        </div>

        
    </div>
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">类别</th>
		<th class="">描述</th>
		<th class="">工时费</th>
		<th class="">零件</th>
		<th class="">数量</th>
		<th class="">合计</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
            <td>{$vo.item_type_name} </td>
			<td>{$vo.item_name} </td>
			<td>{$vo.hour_price}</td>
			<td>{$vo.item_price}</td>
			<td>{$vo.item_num}</td>
			<td>{$vo.hour_price+$vo.item_price*$vo.item_num}</td>
			<td>
				<a title="编辑" href="{:U('OrderItem/edit?id='.$vo['id'].'&car_order_id='.$car_order_id)}">编辑</a>
				<a class="confirm ajax-get" title="删除" href="{:U('OrderItem/del?id='.$vo['id'])}">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> 无记录！ </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>



<block name="script">
    <script type="text/javascript">
  //表单提交
	$(document)
    	.ajaxStart(function(){
    		$("button:submit").addClass("log-in").attr("disabled", true);
    	})
    	.ajaxStop(function(){
    		$("button:submit").removeClass("log-in").attr("disabled", false);
    	});

	$("form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			console.log(data);
			if(data.status){
				
			} else {
				self.find(".check-tips").text(data.info);
				//刷新验证码
				$(".reloadverify").click();
			}
		}
	});
        //导航高亮
        highlight_subnav('{:U('Order/index')}');
    </script>
</block>
