<extend name="Public/base" />

<block name="body">
	<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	
    <form class="form-inline" method="post" action="{:U('report_detail')}" role="form">
    <div class="container">
    	<div class="row">
    		<div class="form-group">
    			<!-- <select class="form-control" name="district_id">
                	<option value="0">大区</option>
                	<notempty name="_district">
						<volist name="_district" id="vo" >
							<if condition="$vo.id eq $_condition['_district_id']">
								<option value="{$vo.id}" selected>{$vo.name}</option>
							<else/>
								<option value="{$vo.id}">{$vo.name}</option>
							</if>
						</volist>
					</notempty>
                </select>
                <select class="form-control" name="city_id">
                	<option value="0">城市</option>
                	<notempty name="_city">
						<volist name="_city" id="vo" >
							<if condition="$vo.id eq $_condition['_city_id']">
								<option value="{$vo.id}" selected>{$vo.name}</option>
							<else/>
								<option value="{$vo.id}">{$vo.name}</option>
							</if>
						</volist>
					</notempty>
                </select>
                <select class="form-control" name="store_id">
                	<option value="0">门店</option>
                	<notempty name="_store">
						<volist name="_store" id="vo" >
							<if condition="$vo.id eq $_condition['_store_id']">
								<option value="{$vo.id}" selected>{$vo.name}</option>
							<else/>
								<option value="{$vo.id}">{$vo.name}</option>
							</if>
						</volist>
					</notempty>
                </select> -->
                <div class="form-group">
                <div class='input-group date' id='startTime'>
                    <input type='text' class="form-control" name="start_time" placeholder="开始时间" value="{$condition._start_time}"/>
                    <!--  -->
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" ></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class='input-group date' id='endTime'>
                    <input type='text' class="form-control" name="end_time" placeholder="结束时间" value="{$condition._end_time}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
	             <select class="form-control" name="item_type">
	             	<option value='0'>全项目</option>
	             	<notempty name="_item_type">
					<volist name="_item_type" id="vo" >
					<if condition="$vo.id eq $_condition['item_type']">
						<option value="{$vo.id}" selected>{$vo.name}</option>
					<else/>
						<option value="{$vo.id}">{$vo.name}</option>
					</if>
					</volist>
					</notempty>
	        	</select>
        	</div>
                <button type="submit" class="btn btn-link"><i class="btn-search"></i></button>
    		</div>
    	</div>
    </div>
    
    <div class="container">
    	<div class="row col-sm-6">
    		<notempty name="_list">
			<volist name="_list" id="vo" key="district_id">
    		<ul class="list-group">
			    <li class="list-group-item active"><input class="check-group" type="checkbox" value="{$district_id}"/> {$vo.district_name}</li>
			   	<volist name="vo" id="store" key="key">
			   	<if condition="$key neq 'district_namf'">
			    	<li class="list-group-item"><input type="checkbox" class="ids" group='{$district_id}' name="ids[]" value="{$store.store_id}">{$store.store_name}</li>
  				</if>
			    </volist>
			</ul>
			</volist>
			</notempty>
		</div>
    </div>
    </form>
</block>

<block name="script">
	<script src="__STATIC__/echarts/echarts.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
	<script src="__STATIC__/bootstrap/js/moment.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript" src="__STATIC__/js/district.js"></script>
	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	
	$(function(){
		$('input[name=start_time]').datetimepicker({
			format: 'YYYY-MM-DD',
		});
		$('input[name=end_time]').datetimepicker({
			format: 'YYYY-MM-DD',
		});
	
		$(".check-group").click(function(){
				var checked = this.checked;
				var group = $(this).val();
	            $('input[type=checkbox]').each(function(){
	            	if($(this).attr('group') == group) {
	            		$(this).prop('checked', checked);
	            	}
	            }); 
		});
			
       
       
	});
	
    //导航高亮
    highlight_subnav('{:U('Order/report')}');
	</script>
</block>
